body {
  background-color: #393e46;
  font-family: "Indie Flower", cursive;
}

h1 {
  color: #50cca3;
  font-size: 7rem;
  text-align: center;
  font-family: "Indie Flower", cursive;
  margin: 5%;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 45vh;
  gap: 10%;

  color: #50cca3;
}

.player {
  flex: 1;
  max-width: max-content;

  margin-bottom: 5%;
}

h5 {
  font-size: xx-large;
  text-align: center;
}

img {
  width: 150px;
  height: 150px;
}

footer {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 15vh;
}

#checker {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  margin-top: 0%;
  min-width: max-content;
}

#check-button {
  font: "Indie Flower", cursive;
  text-decoration: dotted;
  background-color: #50cca3;
  border: none;
  border-radius: 5%;
  width: 10%;
  height: 100%;
  color: white;
  min-width: max-content;
}

@media (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}
